.mat-drawer-container {
  height: 100%;
  background-color: #efefef;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 64px;
}

.mat-drawer {
  width: 300px;
  background-color: #3f51b5;
}

app-navbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

/* mat-drawer-container */

/* .workspace {
  margin-top: -64px;
} */
